# visual studio stuff
azure-kinect-dk-logger/Debug
azure-kinect-dk-logger/x64
packages/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ilk
*.pdb
.vs/azure-kinect-dk-logger/v16/.suo
*.db
*.opendb
*.ipch
